@charset "utf-8";

/*base*/
body,ul,li,p,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
ul{list-style:none;}
a{text-decoration:none;}

#wrap{
    width:100vw;
    overflow: hidden;
}

/*header*/
header{
    width:100%;
    height: 50px;
    position: fixed;top:0;
}
nav{
    float: right;
    width: 800px;
    height:50px;
    z-index: 2;
}
nav li{
    float: left;
    line-height: 50px;
    margin-right: 20%;
    font-family:'Gochi Hand';
}
nav li:first-child{
    margin-left: 10%;
}
nav li:last-child{
    margin-right: 0;
}
nav a{
    color:gray;
}
nav a:hover{
    color:#999;
    transition: 0.5s;
}


/*section*/
section{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 20px;
 
}
section h2{
    text-align: center;
    margin-bottom: 20px;
    font: 40px 'Gochi Hand';
    margin: 3% auto;
}

/*sec1*/
#sec1{
    background: url(../images/back.jpg) no-repeat center;
    background-size: cover;
}
#sec1 h1{
    position: absolute;top:30%;left:48%;
    transform: translate(-30%,-48%);
    color:#fff;
    font:lighter 60px 'Dongle';
    border-right: 1px solid #fff;
    animation: cursor 0.5s ease infinite;
    
}
@keyframes typing{
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

@keyframes cursor {
    50% { border-color: transparent;  }
  }

/*sec2*/
#sec2{
    background-color: #DCE2F0;
}
#sec2 h2{
    color:#50586C;
}
#sec2 .about_in{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding:50px 0;
    box-sizing: border-box;
    box-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    background:#fff;
}
#sec2 .sec2_in{
    width: 700px;
    height: 450px;
    margin:0 auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.sec2_in p{
    padding-top: 10%;
    line-height: 1.5;
}
.sec2_in img{
    width: 300px;
    height: 300px;
    margin: 50px 20px 0 0;
    border-radius: 50%;
    float: left;
}
.sec2_txt{    
    color: #333;
    font:lighter 30px 'Dongle';
    text-align: center;
}
.sec2_btn a{
    color: #333;
    font: 25px 'Dongle';
    padding:3px 10px;
    display: inline-block;
    margin:0 3px 7px 0;
}
.sec2_btn a:hover{
    border-radius: 15px;
    background:rgb(82, 88, 106);
    color:#fff;
}

/*sec3*/
#sec3{
    background-color: #F9EBDE;
}
#sec3 h2{
    color:#815854;
}
.like_in{
    width: 1000px;
    height: 650px;
    margin:0 auto;
}
.like_in li{
    width: 260px;
    height: 260px;
    float: left;
    margin:30px 35px; 
}
.like_in li:hover{
    transform:translateY(-5px);
    transition: 0.5s;
}
.like_in li p{
    text-align: center;
    font-family: 'Hi Melody';
}
.like_in li img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 3px solid #815854;
}

/*sec4*/
#sec4{
    background-color: #02343F;
}
#sec4 h2{
    color:#F0EDCC;
}
#sec4 .page_box{
    width: 1000px;
    height: 600px;
    margin: 20px auto;
}
.page_box div{
    width: 400px;
    height: 400px;
    float: left;
    margin: 10% 50px ;
}
.box1 img{
    width: 400px;
    height: 400px;
    border-radius: 30%;
}
.box2 p{
    color:#F0EDCC;
    margin: 20px auto;
    transition: 0.5s;
}
.box2 p:hover{
    transform: scale(1.2);transform-origin: center;
}
.box2 .box_txt{
    font: 40px '배달의민족 한나는 열한살';
}
.box2 .box_txt2{
    font: 70px '배달의민족 한나는 열한살';
}
.box2 .box_txt3{
    font: 45px '배달의민족 한나는 열한살';
    float: right;
}


/*footer*/
footer{
    height: 200px;
    margin: 0 auto;    
    padding-top: 20px;
    box-sizing: border-box;

}
footer h2{
    text-align: center;
    color:gray;
}
.cont_in{
    width: 500px;
    height: 100px;
    margin: 20px auto;
    box-sizing: border-box;
}
.cont_in img{
    width:100px;
    margin:0 33px;
    float: left;
}


/*chat*/

#glass{
    width: 500px;
    height: 350px;
    background:url(../images/chatback2.jpg)no-repeat center;
    background-size: cover;
    padding: 50px;
    color:#fff;
    border-radius: 9px;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.3);
    backdrop-filter: blur(50px);
    line-height: 1.5;
    position: fixed;
    top:30%;left:30%;
    text-align: center;
    font-family: '배달의민족 한나는 열한살';
    display: none;
 }
 #glass h2{
     font-size: 20px;
     margin-top: 20px;
     color:#fff;
 }
 #glass p{
     font-size: 20px;
     color: #fff;
     line-height: 1.5;
 }
 .input{
     width: 500px;
     height: 70px;
     margin: 40px auto;
 }
 .input input{
     width:400px;
     height:70px;
     border:none;
     padding: 0 0 0 40px;
     font-size: 18px;
     border-radius: 20px;
 }
 #close{
     position: absolute;
     top: 10px;
     right:10px;
     font-size: 25px;
     border: none;
     background: none;
     color:#fff;
     cursor: pointer;
 }
 
 #btn{
     position: fixed;
     top:50%;
     cursor: pointer;
 }
 #btn img{
     width:8%;
 }